@charset "utf-8";
/* CSS Document */
body{
	margin:0px;
	padding: 0px;
}
.site-header{
	background-image:url(images/Untitled-1.png);
	width: 100%;
	height: 150px;
	background-repeat: no-repeat;
	background-size: 100% 100%;
	margin-top: 0px;
	
	
}

.col-md-12{
	padding: 0px;
}

.col-md-3{
	padding: 0px;
	margin-left: 730px;
	margin-top: 50px;
}
.col-md-2{
	margin-left: 50px;
	padding: 0px;
	margin-top: 50px;
}
.col-md-2 a{
	font-size: 20px;
	color: black;
	text-decoration: none;
	padding-left:7px; 
}
.col-md-2 a:hover{
	color: blue;
}

.navbar-form{
	padding: 0px;
	padding-left: 130px;
	margin-top: 0px;
	margin-bottom: 0px;
	
}
.navbar{
	margin: 0px;
	
}

nav{
	margin-top: 0px;
	margin-bottom: 0px;
	width: 100%;
}
.collapse{
	padding: 0px;
}
.navbar-collapse .nav{
	background-color:#2CF33D;
	width: 100%;
   
	
}
.navbar-toggle{
	background-color:#252424;
}
.navbar-toggle p{
	margin: 0px;
	color: white;
	font-size: 16px;
}
.nav-tabs {
     border-bottom: none;
	margin:0px;
}
ul li a{
	font-size: 20px;
	color: black;
	
}
.nav li a:hover{
	background-color:#FDFDFD;
}


.icon-bar{
	font-size:20px;
	color: #657DED;
}
.site-main{

	height: auto;
	width: 100%;
	
}
.site-main h1{
	color: #2CF33D;
}
.well{
	overflow: hidden;
}
.well .col-md-6{
	margin-top: 25px;
}
.well .col-md-6 img{
	margin-left: 80px;
}
.well .col-md-6 h3{
	color: blue;
}
.well .col-md-6 p{
	font-size: 18px;
}

.site-section{
	height: auto;
	width: 100%;
}
.site-section .col-md-3{
	margin-left: 75px;
	margin-bottom: 30px;
}
.site-section .col-md-3 img{
	width: 100%;
}
.site-section .col-md-3 p{
	font-size: 22px;
}
.btn{
	margin-bottom: 10px;
	margin-left: 50px;
	font-size: 16px;
}
.site-footer{
	background-color: black;
	height: auto;
	clear: both;
	
}
.site-footer .col-md-12{
	margin-top: 0px;
}
.site-footer .col-md-3{
	margin-left: 20px;
}
.site-footer h3{
	font-weight:100;
	color: white;
}
.site-footer p{
	color: white;
	font-size: 16px;
}

.site-footer .col-md-2 a{
	padding-left: 0px;
	margin-top: 50px;
}

.icon{
	font-size: 30px;
	color: white;
}
.buttom{
	background-color: #2B2B2B;
}
.buttom .row p{
	color: white;
	font-size:20px;
	padding-top: 10px;
	
}

